//******
//COLORS
//******
$color_violet:#6734ba;
$color_blue: #1194f6;
$color_lightBlue: #00bcd6;
$color_redOrange: #ff5722;
$color_purple: #9d1bb2;
$color_orange: #f90;

//**********
//BREAKPOINTS
//**********
$LargeDesktop: 1440px;
$Desktop: 1200px;
$Laptop: 950px;
$Tablet: 768px;
$Mobile: 400px;

//**********
//FONT-SIZES
//**********
$font_XXS: 0.70rem;
$font_XS: 0.85rem;
$font_S: 1rem;
$font_M: 1.25rem;
$font_L: 1.5rem;
$font_XL: 2rem;
$font_XXL: 2.5rem;
$font_XXXL: 3rem;