@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  min-height: 95vh;
  padding: 16px;
}

.links-reset {
  text-decoration: none;
}

.bg-violet {
  background-color: #6734ba;
  color: #6734ba;
}

.sticky-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-layout-header {
  min-height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  text-transform: uppercase;
}

.sticky-layout-logo {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sticky-layout-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-item-align: center;
      align-self: center;
}

.sticky-layout-nav-links {
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #6734ba;
}

.sticky-layout-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky-layout-main-para {
  width: 75%;
  padding: 80px 0;
  line-height: 1.8rem;
}

.sticky-layout-footer {
  min-height: 60px;
  background-color: #fff;
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky-layout-footer-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky-layout-footer-links {
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #6734ba;
}

.bg-blue {
  background-color: #1194f6;
  color: #1194f6;
}

.split-screen-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.split-screen-left {
  -ms-flex-preferred-size: 49.7%;
      flex-basis: 49.7%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-screen-left-title {
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 20px;
}

.blue-img {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(17, 148, 246, 0.3);
  border-radius: 50%;
}

.blue-img img {
  text-align: center;
}

.split-screen-right {
  -ms-flex-preferred-size: 49.7%;
      flex-basis: 49.7%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-screen-right-para {
  width: 70%;
  line-height: 1.5rem;
  padding-top: 20px;
}

.bg-lightblue {
  background-color: #00bcd6;
  color: #00bcd6;
}

.sidebar-layout {
  max-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar-layout-right-fixed {
  background-color: #fff;
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar-layout-right-wrapper {
  padding: 10%;
}

.sidebar-layout-right-title {
  font-size: 1.5rem;
  padding-bottom: 20px;
  font-weight: 900;
}

.sidebar-layout-right-subtitle {
  font-weight: 900;
}

.sidebar-layout-left-flexible {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.5%;
  overflow: scroll;
  padding: 5% 10%;
}

.sidebar-layout-left-title {
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 20px;
}

.sidebar-layout-left-para {
  padding-bottom: 20px;
}

.bg-redorange {
  background-color: #ff5722;
  color: #ff5722;
}

.hero-cover-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-cover-main {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-cover-main-title {
  padding-top: 20px;
  font-weight: 600;
  font-size: 1.5rem;
}

.orange-img {
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 87, 34, 0.3);
  border-radius: 50%;
}

.orange-img img {
  width: 150px;
}

.hero-cover-footer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2%;
}

.hero-cover-footer-logo {
  padding: 0 4%;
  font-size: 1rem;
  font-weight: 600;
}

.hero-cover-layout-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4%;
  font-size: 1rem;
  list-style: none;
}

.hero-cover-nav-links {
  padding: 0 5px;
  cursor: pointer;
  font-weight: bold;
  color: #ff5722;
}

.bg-orange {
  background-color: #f90;
  color: #f90;
}

.holy-grail-layout {
  max-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.holy-grail-header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5%;
}

.holy-grail-header-logo {
  font-size: 1.5rem;
  color: #f90;
}

.holy-grail-header-nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.holy-grail-header-links {
  margin-left: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #f90;
}

.holy-grail-main {
  margin-top: 0.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
}

.holy-grail-main-aside {
  width: 20%;
  background-color: #fff;
}

.holy-grail-main-center {
  margin: 0 0.3%;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: scroll;
}

.holy-grail-main-center-wrapper {
  padding: 10%;
}

.holy-grail-main-center-title {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 1.25rem;
}

.holy-grail-main-center-para {
  margin-bottom: 16px;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

.holy-grail-footer {
  margin-top: 0.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1.5%;
}

.holy-grail-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.holy-grail-footer-links {
  padding: 5%;
  cursor: pointer;
  font-weight: bold;
  color: #f90;
}

.bg-purple {
  background-color: #9d1bb2;
  color: #9d1bb2;
}

.fluid-grid-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fluid-grid-layout-single {
  width: 22%;
  margin: 0.5%;
  padding: 2% 5%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  line-height: 1.7rem;
}

.double {
  width: 55%;
}

.fluid-grid-title {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 16px;
}
/*# sourceMappingURL=style.css.map */