@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  min-height: 100vh;
}

.bg-violet {
  background-color: #6734ba;
  color: #6734ba;
}

.main-container {
  min-height: 95vh;
  padding: 15px;
}

.sticky-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-layout-header {
  min-height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  text-transform: uppercase;
}

.sticky-layout-logo {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sticky-layout-header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-item-align: center;
      align-self: center;
}

.sticky-layout-header-ul li {
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 400;
}

.sticky-layout-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky-layout-main p {
  width: 75%;
  padding: 80px 0;
  line-height: 1.8rem;
}

.sticky-layout-footer {
  min-height: 60px;
  background-color: #fff;
}

.sticky-layout-footer-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sticky-layout-footer-ul li {
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.bg-blue {
  background-color: #1194f6;
  color: #1194f6;
}

.split-screen-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.split-screen-left {
  -ms-flex-preferred-size: 49.7%;
      flex-basis: 49.7%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-screen-left h4 {
  font-weight: 600;
  font-size: 1.25rem;
}

.blue-img {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(17, 148, 246, 0.3);
  border-radius: 50%;
}

.blue-img img {
  text-align: center;
}

.split-screen-right {
  -ms-flex-preferred-size: 49.7%;
      flex-basis: 49.7%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split-screen-right p {
  width: 60%;
  line-height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */