@import "./partials/variables";
@import "./partials/mixins";
// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html,
body {
    @include font_openSans_regular($font_S);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 95vh;
    padding: 16px;
}
.links-reset{
    text-decoration: none;
}
//Sticky footer layout start
.bg-violet {
    background-color: $color_violet;
    color: $color_violet;
}

.sticky-layout {
    display: flex;
    flex-direction: column;
}

.sticky-layout-header {
    min-height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    text-transform: uppercase;
}

.sticky-layout-logo {
    font-size: $font_L;
    align-self: center;
}

.sticky-layout-header-nav {
    display: flex;
    list-style-type: none;
    align-self: center;
}
.sticky-layout-nav-links{
    cursor: pointer;
    padding: 0 5px;
    font-size: $font_S;
    font-weight: 400;
    color: $color_violet;
    
}

.sticky-layout-main {
    flex-grow: 1;
    background-color: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}
.sticky-layout-main-para{
    width: 75%;
    padding: 80px 0;
    line-height: 1.8rem;
}

.sticky-layout-footer {
    min-height: 60px;
    background-color: #fff;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.sticky-layout-footer-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sticky-layout-footer-links{
    cursor: pointer;
    padding: 0 5px;
    font-size: $font_S;
    text-transform: uppercase;
    font-weight: 600;
    color: $color_violet;
}

//Sticky footer layout end

//Split screen layout start
.bg-blue {
    background-color: $color_blue;
    color: $color_blue;
}

.split-screen-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split-screen-left {
    flex-basis: 49.7%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.split-screen-left-title{
    font-weight: 600;
    font-size: $font_M;
    padding-top: 20px;
}

.blue-img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(17, 148, 246, 0.3);
    border-radius: 50%;

    img {
        text-align: center;
    }

}

.split-screen-right {
    flex-basis: 49.7%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.split-screen-right-para{
    width: 70%;
    line-height: 1.5rem;
    padding-top: 20px;
}

//Split screen layout end

//Sidebar layout start
.bg-lightblue {
    background-color: $color_lightBlue;
    color: $color_lightBlue;
}

.sidebar-layout {
    max-height: 95vh;
    display: flex;
    flex-direction: row;
}

.sidebar-layout-right-fixed {
    background-color: #fff;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar-layout-right-wrapper {
    padding: 10%;
}
.sidebar-layout-right-title{
    font-size: $font_L;
    padding-bottom: 20px;
    font-weight: 900;
}
.sidebar-layout-right-subtitle{
    font-weight: 900;
}

.sidebar-layout-left-flexible {
    background-color: #fff;
    flex: 1;
    margin-left: 0.5%;
    overflow: scroll;
    padding: 5% 10%;
}
.sidebar-layout-left-title{
    font-weight: 700;
    font-size: $font_M;
    padding-bottom: 20px;
}
.sidebar-layout-left-para{
    padding-bottom: 20px;
}

//Sidebar layout end

//Hero cover layout start
.bg-redorange {
    background-color: $color_redOrange;
    color: $color_redOrange;
}

.hero-cover-layout {
    display: flex;
    flex-direction: column;
}
.hero-cover-main {
    background-color: #fff;
    flex: 1;
    margin-bottom: 0.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-cover-main-title{
    padding-top: 20px;
    font-weight: 600;
    font-size: $font_L;
}
.orange-img {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 87, 34, 0.3);
    border-radius: 50%;

    img {
        width: 150px;
    }
}

.hero-cover-footer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.hero-cover-footer-logo {
    padding: 0 4%;
    font-size: $font_S;
    font-weight: 600;
}

.hero-cover-layout-nav {
    display: flex;
    padding: 0 4%;
    font-size: $font_S;
    list-style: none;
}
.hero-cover-nav-links{
    padding: 0 5px;
    cursor: pointer;
    font-weight: bold;
    color: $color_redOrange;
}

//Hero cover layout end

//Holy grail layout start
.bg-orange {
    background-color: $color_orange;
    color: $color_orange;
}

.holy-grail-layout {
    max-height: 95vh;
    display: flex;
    flex-direction: column;
}

.holy-grail-header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
}

.holy-grail-header-logo {
    font-size: $font_L;
    color: $color_orange;
}

.holy-grail-header-nav {
    list-style-type: none;
    display: flex;
}
.holy-grail-header-links{
    margin-left: 16px;
    font-weight: bold;
    cursor: pointer;
    color: $color_orange;
}

.holy-grail-main {
    margin-top: 0.3%;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-y: scroll;
}

.holy-grail-main-aside {
    width: 20%;
    background-color: #fff;
    
}

.holy-grail-main-center {
    // here I couldn't modify the margin in one direction 
    // because I made the aside section identical
    margin: 0 0.3%;
    background-color: #fff;
    flex: 1;
    overflow: scroll;
}

.holy-grail-main-center-wrapper {
    padding: 10%;
}
.holy-grail-main-center-title{
    padding-bottom: 16px;
    font-weight: 600;
    font-size: $font_M;
}
.holy-grail-main-center-para{
    margin-bottom: 16px;
    line-height: 1.5rem;
    font-size: $font_XS;
}

.holy-grail-footer {
    margin-top: 0.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1.5%;
}

.holy-grail-footer-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.holy-grail-footer-links{
    padding: 5%;
    cursor: pointer;
    font-weight: bold;
    color: $color_orange;
}

//Holy grail layout end

//Fluid grid layout start
.bg-purple {
    background-color: $color_purple;
    color: $color_purple;
}

.fluid-grid-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.fluid-grid-layout-single {
    width: 22%;
    // Case too complicated to put margins in one 
    // direction, changes all layout, suggestions??
    margin: 0.5%;
    padding: 2% 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    line-height: 1.7rem;
}

.double {
    width: 55%;
}
.fluid-grid-title{
    font-size: $font_M;
    font-weight: 600;
    padding-bottom: 16px;
}
//Fluid grid layout end